<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Micro Blog</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img src="/static/logo.svg" class="navbar__logo" alt="The Micro Blog logo"/> Micro Blog
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a class="navbar__link" href="#">Recent</a></li>
            <li class="navbar__navigation-item"><a class="navbar__link" href="#">Calendar</a></li>
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Add new post</h1>
            <form class="form" method="POST">
                <p class="form__group">
                    <label class="form__label" for="entry">Entry content:</label>
                    <textarea class="form__textarea" name="content" id="entry"></textarea>
                </p>
                <button class="form__submit" type="submit">Add entry</button>
            </form>
        </section>
        <section>
            <h1>Recent posts</h1>
            {% for entry in entries %}
            <article class="entry">
                <div>
                    <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                    <time class="entry__date" datetime="21-10-2021">• {{ entry[1] }}</time>
                </div>
                <p class="entry__content">{{ entry[0] }}</p>
            </article>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__link">Made by Tianli Tong</a>
                <a class="footer__link">More projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__link">Recent</a>
                    <a class="footer__link">Calendar</a>
                </div>
                <div class="footer__column">
                    <a class="footer__link">About</a>
                    <a class="footer__link">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>